<%= form_for(@subcatagory) do |f| %>
  <% if @subcatagory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcatagory.errors.count, "error") %> prohibited this subcatagory from being saved:</h2>

      <ul>
      <% @subcatagory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :catagory_id %><br />
    <%= collection_select(:subcatagory, :catagory_id, Catagory.all, :id, :name) %>
    
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
