<h1>Listing subcatagories</h1>

<table>
  <tr>
    <th>Catagory</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subcatagories.each do |subcatagory| %>
  <tr>
    <td><%= subcatagory.catagory.name if subcatagory.catagory  %></td>
    <td><%= subcatagory.name %></td>
    <td><%= link_to 'Show', subcatagory %></td>
    <td><%= link_to 'Edit', edit_subcatagory_path(subcatagory) %></td>
    <td><%= link_to 'Destroy', subcatagory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subcatagory', new_subcatagory_path %>
